<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.3.4/dist/quasar.prod.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div id="q-appLogin">
      <div class="flex flex-center q-pa-md column items-center content-center" style="margin-top:4em">
        <h1 class="text-h3">Login</h1>
        <div class="" style="min-width:280px;">
          <q-input outlined v-model="user" label="Your Username" class="q-mb-sm"></q-input>
          <q-input v-model="passwd" outlined :type="isPwd ? 'password' : 'text'" hint="Password with toggle">
             <template v-slot:append>
               <q-icon
                 :name="isPwd ? 'visibility_off' : 'visibility'"
                 class="cursor-pointer"
                 @click="isPwd = !isPwd"
               />
             </template>
           </q-input>
          <q-btn
            color="primary"
            dense
            label="Login"
            class="q-my-md"
            @click="login"
            style="width:100%"
          >
        </q-btn>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.3.4/dist/quasar.umd.prod.js"></script>

    <script>

      const app = Vue.createApp({
        methods: {
          login () {
            const params = new URLSearchParams()
            params.append('user', this.user)
            params.append('passwd', this.passwd)
            axios.post('http://localhost/M151_CFP/Control/user.api.php', params).then((response) => {
              if(response.data.isUser) window.location = "index.php"
            })
          }
        },
        data (){
          return {
            user: '',
            passwd: '',
            isPwd: true
          }
        }
      })

      app.use(Quasar)
      app.mount('#q-appLogin')
    </script>
  </body>
</html>
